body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputCustomHeight {
  height: 53px;
}

.ant-modal-footer {
  text-align: center !important;
}

.ant-input-number-input:placeholder-shown {
  text-overflow: ellipsis;
  margin-top: 10px;
}
.ant-input-number-input {
  margin-top: 10px;
}
